body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.imagem-em-tela-inteira {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.imagem-em-tela-inteira img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.posicao {
    left: 10%; 
    position: absolute;
}

.posicao2 {
    left: 14%; 
    position: absolute;
}

.posicao3 {
    left: 70%; 
    position: absolute;
}

.botao {
    background-color: #006895;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px 15%; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.botao:hover {
    background-color: #077da8;
    transform: scale(1.05);
}

.posicaoprofessor{
    left: 65%; 
    position: absolute;
}

@media (max-width: 768px) {
    .posicao, .posicao2 {
        left: 2%; 
    }

    .botao {
        padding: 10px 3%; 
    }
}
