body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #F8F8F8;
}

.botão1 :hover{
    transform: scale(1.1); 
}

.BotaoVoltar{
    top: 30px;
    left: 30px;
    position: absolute;
}

.imagem-rotacionada {
    transition: transform 0.9s ease; 
}

.imagem-rotacionada:hover {
    transform: rotate(360deg); 
}

.texto01  {
    color: #000;
    font-family: Armata;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 10px;
    left: 80px;
    position: absolute;
} 

.container {
    display: flex;
    justify-content: center;
    padding: 0 10px; 
}

.container img {
    max-width: 100%; 
    margin-right: 15px; 
}

.botao {
    background-color: #F28627;
    color: white;
    border: none;
    border-radius: 20px; 
    padding: 10px 100px;
    font-size: 27px;
    cursor: pointer;
    position: absolute;
    right: 90px; 
}

.container {
    display: flex;
    justify-content: center;
    padding: 0 10px; 
}

.container img {
    max-width: 100%; 
    margin-right: 15px; 
}


.linha-horizontal {
    width: 100%; 
    height: 0.1px; 
    background-color: #000; 
}

.foto1{
    position: absolute;
    right: 1100px; 
}

.foto2{
    position: absolute;
    right:950px; 
}

.foto3{
    position: absolute;
    right:500px; 
}

.foto4{
    position: absolute;
    right:100px; 
}